In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pandas as pd
import sqlalchemy
from config import symbol
import joblib

In [3]:
engine = sqlalchemy.create_engine('sqlite:///data/{}_stream.db'.format(symbol))
df = pd.read_sql(symbol,engine)

In [114]:
df1 = df.copy()
df2 = df.copy()
df3 = df.copy()
df4 = df.copy()

In [57]:
def remove_row_from_head(df):
    df.drop(df.time.idxmin(),inplace=True)

def remove_row_from_tail(df):
    df.drop(len(df)-1,inplace=True)
    
def add_id(df):
    df.insert(0, 'ID', range(0, 0 + len(df)))

In [115]:
remove_row_from_head(df1)
remove_row_from_head(df1)
remove_row_from_head(df1)
add_id(df1)
df1.rename(columns={"time": "time1", "price": "price1","quantity":"quantity1"},inplace=True)

remove_row_from_tail(df2)
remove_row_from_head(df2)
remove_row_from_head(df2)
add_id(df2)
df2.rename(columns={"time": "time2", "price": "price2","quantity":"quantity2"},inplace=True)

remove_row_from_tail(df3)
remove_row_from_tail(df3)
remove_row_from_head(df3)
add_id(df3)
df3.rename(columns={"time": "time3", "price": "price3","quantity":"quantity3"},inplace=True)

remove_row_from_tail(df4)
remove_row_from_tail(df4)
remove_row_from_tail(df4)
add_id(df4)
df4.rename(columns={"price": "price4"},inplace=True)
df4.drop(columns=['quantity', 'symbol','time'],inplace=True)

In [116]:
df1.head(), df2.head(), df3.head(), df4.head()

(   ID   symbol                   time1    price1   quantity1
 3   0  BTCUSDT 2021-10-19 07:19:08.379  62040.30  0.01000000
 4   1  BTCUSDT 2021-10-19 07:19:08.379  62040.00  0.01333000
 5   2  BTCUSDT 2021-10-19 07:19:08.381  62040.00  0.00667000
 6   3  BTCUSDT 2021-10-19 07:19:08.381  62039.96  0.01000000
 7   4  BTCUSDT 2021-10-19 07:19:08.381  62039.94  0.01000000,
    ID   symbol                   time2    price2   quantity2
 2   0  BTCUSDT 2021-10-19 07:19:08.379  62044.33  0.02467000
 3   1  BTCUSDT 2021-10-19 07:19:08.379  62040.30  0.01000000
 4   2  BTCUSDT 2021-10-19 07:19:08.379  62040.00  0.01333000
 5   3  BTCUSDT 2021-10-19 07:19:08.381  62040.00  0.00667000
 6   4  BTCUSDT 2021-10-19 07:19:08.381  62039.96  0.01000000,
    ID   symbol                   time3    price3   quantity3
 1   0  BTCUSDT 2021-10-19 07:19:08.359  62044.33  0.00029000
 2   1  BTCUSDT 2021-10-19 07:19:08.379  62044.33  0.02467000
 3   2  BTCUSDT 2021-10-19 07:19:08.379  62040.30  0.01000000
 4   3  BTCUSDT 2021-10-19 07:19:08.379  62040.00  0.01333000
 5   4  BTCUSDT 2021-10-19 07:19:08.381  62040.00  0.00667000,
    ID    price4
 0   0  62044.33
 1   1  62044.33
 2   2  62044.33
 3   3  62040.30
 4   4  62040.00)

In [117]:
df1.tail(), df2.tail(), df3.tail(), df4.tail()

(          ID   symbol                   time1    price1 quantity1
 14890  14887  BTCUSDT 2021-10-19 12:57:08.158  62197.51   0.00025
 14891  14888  BTCUSDT 2021-10-19 12:57:08.158  62197.51   0.00028
 14892  14889  BTCUSDT 2021-10-19 12:57:08.158  62197.51    0.0009
 14893  14890  BTCUSDT 2021-10-19 12:57:08.158  62197.51   0.00026
 14894  14891  BTCUSDT 2021-10-19 12:57:08.158  62197.51   0.00028,
           ID   symbol                   time2    price2 quantity2
 14889  14887  BTCUSDT 2021-10-19 12:57:08.158  62197.51   0.00028
 14890  14888  BTCUSDT 2021-10-19 12:57:08.158  62197.51   0.00025
 14891  14889  BTCUSDT 2021-10-19 12:57:08.158  62197.51   0.00028
 14892  14890  BTCUSDT 2021-10-19 12:57:08.158  62197.51    0.0009
 14893  14891  BTCUSDT 2021-10-19 12:57:08.158  62197.51   0.00026,
           ID   symbol                   time3    price3 quantity3
 14888  14887  BTCUSDT 2021-10-19 12:57:08.158  62197.51   0.00038
 14889  14888  BTCUSDT 2021-10-19 12:57:08.158  62197.51   0.00028
 14890  14889  BTCUSDT 2021-10-19 12:57:08.158  62197.51   0.00025
 14891  14890  BTCUSDT 2021-10-19 12:57:08.158  62197.51   0.00028
 14892  14891  BTCUSDT 2021-10-19 12:57:08.158  62197.51    0.0009,
           ID    price4
 14887  14887  62197.51
 14888  14888  62197.51
 14889  14889  62197.51
 14890  14890  62197.51
 14891  14891  62197.51)

In [123]:
result = pd.merge(df1, df2, on="ID")
result = pd.merge(result, df3, on="ID")

In [126]:
result.tail()

,ID,time1,price1,quantity1,symbol_y,time2,price2,quantity2,symbol,time3,price3,quantity3
14887,14887,2021-10-19 12:57:08.158,62197.51,0.00025,BTCUSDT,2021-10-19 12:57:08.158,62197.51,0.00028,BTCUSDT,2021-10-19 12:57:08.158,62197.51,0.00038
14888,14888,2021-10-19 12:57:08.158,62197.51,0.00028,BTCUSDT,2021-10-19 12:57:08.158,62197.51,0.00025,BTCUSDT,2021-10-19 12:57:08.158,62197.51,0.00028
14889,14889,2021-10-19 12:57:08.158,62197.51,0.0009,BTCUSDT,2021-10-19 12:57:08.158,62197.51,0.00028,BTCUSDT,2021-10-19 12:57:08.158,62197.51,0.00025
14890,14890,2021-10-19 12:57:08.158,62197.51,0.00026,BTCUSDT,2021-10-19 12:57:08.158,62197.51,0.0009,BTCUSDT,2021-10-19 12:57:08.158,62197.51,0.00028
14891,14891,2021-10-19 12:57:08.158,62197.51,0.00028,BTCUSDT,2021-10-19 12:57:08.158,62197.51,0.00026,BTCUSDT,2021-10-19 12:57:08.158,62197.51,0.0009

In [125]:
result.drop(columns=['symbol_x'],inplace=True)

In [4]:
df.iloc[-1:]

        symbol                    time     price quantity
18699  BTCUSDT 2021-10-19 14:09:32.652  62462.17  9.0e-05

In [6]:
df.iloc[-2:-1]

        symbol                    time     price quantity
18698  BTCUSDT 2021-10-19 14:09:32.631  62450.01  0.03391

In [7]:
df.iloc[-3:-2]

        symbol                    time     price quantity
18697  BTCUSDT 2021-10-19 14:09:32.599  62450.01  0.00063